@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <div>
    <h3>
      @Html.ActionLink("Тематики", "Index", "Subjects")
    </h3>
    Открыть список всех тематик.
  </div>
  <div>
    <h3>
      @Html.ActionLink("Темы", "Index", "Rubrics")
    </h3>
    Открыть список всех тем.
  </div>
  <div>
    <h3>
      @Html.ActionLink("Задания", "Index", "Duties")
    </h3>
    Открыть список всех заданий.
  </div>
  <div>
    <h3>
      @Html.ActionLink("Тесты", "Index", "UnitTests")
    </h3>
    Открыть список всех тестов.
  </div>
</div>
