@model TestingModule.Models.UnitTest

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Тест</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Задание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duty.Name)
        </dd>
        <dt>
            Аргументы
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Arguments)
        </dd>
        <dt>
            Значения
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
