@model TestingModule.Models.UnitTest

@{
    ViewData["Title"] = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Тест</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Задание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duty.Name)
        </dd>
        <dt>
            Аргументы
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Arguments)
        </dd>
        <dt>
            Значения
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> |
    <a asp-action="Index">К списку</a>
</div>
