@model TestingModule.Models.UnitTest

@{
  ViewData["Title"] = "Edit";
}

<h2>Редактирование</h2>

<h4>Тест</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="ID" />
      <div class="form-group">
        Тематика: <select id="bySubject" name="bySubject" class="form-control" asp-items="ViewBag.SubjectId"><option value=""></option></select>
      </div>
      <div id="RubricSearch" class="form-group">
        Тема: <select id="byRubric" name="byRubric" class="form-control" asp-items="ViewBag.RubricId"><option value=""></option></select>
      </div>
      <div class="form-group">
        <label asp-for="DutyId" class="control-label">Задание</label>
        <select asp-for="DutyId" id="byDuty" name="byDuty" class="form-control" asp-items="ViewBag.DutyId"><option value=""></option></select>
        <div id="DutyDescr">@ViewBag.Description</div>
      </div>
      <div class="form-group">
        <style>
          table {
            border-collapse: separate;
            border-spacing: 10px 10px;
            width: 100%
          }
        </style>
        <div id="arguments">
          <label asp-for="Arguments" class="control-label">Аргументы</label>
          <table class="body-content" title="Аргументы">
            <tr>
              <th>Значение</th>
            </tr>
            @for (int i = 0; i < ViewBag.Args.Count; i++)
            {
              <tr>
                <td><input type='text' name='Args[@i]' value="@ViewBag.Args[i]" class="form-control" /></td>
              </tr>
            }
          </table>
        </div>
        <p><input type="button" id="addArg" value="Добавить аргумент" class="btn btn-default" /></p>
      </div>
      <div class="form-group">
        <label asp-for="Value" class="control-label">Значения</label>
        <div id="values">
          <table class="body-content" title="Значения">
            <tr>
              <th>Значение</th>
            </tr>
            @for (int i = 0; i < ViewBag.Values.Count; i++)
            {
              <tr>
                <td><input type='text' name='Values[@i]' value="@ViewBag.Values[i]" class="form-control" /></td>
              </tr>
            }
          </table>
        </div>
        <p><input type="button" id="addVal" value="Добавить значение" class="btn btn-default" /></p>
      </div>
      <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">К списку</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  <script src="~/Scripts/UnitTest/AddArgument.js"></script>
  <script src="~/Scripts/UnitTest/AddValue.js"></script>
  <script src="~/Scripts/UnitTest/GetRubricList.js"></script>
  <script src="~/Scripts/UnitTest/GetDutiesList.js"></script>
  <script src="~/Scripts/UnitTest/GetDutyDescription.js"></script>

}
